<%= bootstrap_form_for(@score) do |f| %>
  <% if @score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% @score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field col-xs-6">
    <%= f.select :player_id, Player.all.collect { |p| [p.name, p.id]} %>
  </div>
  <div class="field col-xs-2">
    <%= f.number_field :value, min: 0 %>
  </div>
  <div class="action col-xs-4 score_button">
    <%= f.submit 'Add Score', class: 'btn btn-primary' %>
  </div>
  <div class="field col-xs-6">
    <%= f.hidden_field :game_id, :value => @game.id %>
  </div>
<% end %>
