<%= bootstrap_form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="field col-sm-6">
      <%= f.select :dg_league_id, DgLeague.all.collect { |l| [l.name, l.id]} %>
    </div>
    <div class="field col-sm-6">
      <%= f.date_select :start_date %>
    </div>

    <div class="actions col-sm-3 pull-right text-right">
      <%= f.submit 'Save Game', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
