<br>
<table class="table">
  <thead>
    <tr>
      <th class = "col-xs-5">Date</th>
      <th class = "col-xs-5">League</th>
      <th class = "col-xs-1"></th>
      <% if current_user %>
        <th class = "col-xs-1"><%= link_to icon('plus'), 'games/new', class: "btn btn-success" %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @games.sort {|a,b| b.start_date <=> a.start_date}.each do |game| %>
      <tr>
        <td class="col-xs-5"><%= link_to game.start_date.strftime("%B %d, %Y"), game %></td>
        <td class="col-xs-5"><%= game.dg_league.name%></td>
        <% if current_user %>
          <td class="col-xs-1"><%= link_to icon('pencil'), edit_game_path(game), class: "btn btn-info" %></td>
          <td class="col-xs-1"><%= link_to icon('trash-o') , game, method: :delete, data: { confirm: 'Are you sure you want to delete this game?' },  class: "btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

