<%= form_for(@ctp) do |f| %>
  <% if @ctp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ctp.errors.count, "error") %> prohibited this ctp from being saved:</h2>

      <ul>
      <% @ctp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hole %><br>
    <%= f.number_field :hole %>
  </div>
  <div class="field">
    <%= f.label :player_id %><br>
    <%= f.number_field :player_id %>
  </div>
  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.number_field :game_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
