<%= bootstrap_form_for(@ctp) do |f| %>
  <% if @ctp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ctp.errors.count, "error") %> prohibited this ctp from being saved:</h2>

      <ul>
      <% @ctp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="field col-sm-6">
      <%= f.select :player_id, Player.all.collect { |p| [p.name, p.id]}, {}, { :class => 'chosen-select' } %>
    </div>
    <div class="field col-sm-2">
      <%= f.number_field :hole, min: 0 %>
    </div>
    <div class="action col-xs-4 score_button">
      <%= f.submit 'Add CTP', class: 'btn btn-primary' %>
    </div>
    <div class="field col-xs-6">
      <%= f.hidden_field :game_id, :value => @game.id %>
    </div>
  </div>
<% end %>
