<p id="notice"><%= notice %></p>
<div class="container">
  <%= link_to 'Back', '/' %>
</div>

<div class="container well">
  <p>
    <strong>Name:</strong>
    <%= @dg_league.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @dg_league.league_address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @dg_league.description %>
  </p>

  <p>
    <strong>Par:</strong>
    <%= @dg_league.par %>
  </p>
</div>

<div class="container well">
  <h3> Last Games's Results</h3>
  <dl class="dl-horizontal">
  <% @games.last.players.uniq.each do |player| %>
    <dt><%= player.name %>:</dt>
    <dd><%= player.score_for_game(@games.last.id) %></dd>
  <% end %>
  </dl>
</div>
