<div class="container well">
  <p>
    <strong>Name:</strong>
    <%= @dg_league.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @dg_league.league_address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @dg_league.description %>
  </p>

  <p>
    <strong>Par:</strong>
    <%= @dg_league.par %>
  </p>
</div>
<% if @games.length > 0 %>
  <div class="container well">
    <h3>Last Games Results - <%= @games.last.start_date.strftime("%B %d, %Y")  %></h3>
    <div class="row-fluid">
      <div class="col-xs-4">
        <h4>Top Adjusted Scores</h4>
        <table>
          <tbody>
            <% @dg_league.games.last.players_by_adjusted_rank.each do |player| %>
              <tr>
                <td class="text-right player_rank"><%= player[:rank] %>.</td>
                <td class="text-right player_name"><%= player[:name] %>:</td>
                <td class="text-left player_score"> <%= player[:score] %> </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-xs-4">
        <h4>Top Scratch Scores</h4>
        <table>
          <tbody>
            <% @dg_league.games.last.players_by_rank.each do |player| %>
              <tr>
                <td class="text-right player_rank"><%= player[:rank] %>.</td>
                <td class="text-right player_name"><%= player[:name] %>:</td>
                <td class="text-left player_score"> <%= player[:score] %> </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-xs-4">
        <h4 class = "text-center">CTPs</h4>
        <dl class="dl-horizontal">
        <% @dg_league.games.last.ctps.uniq.sort {|a,b| a.hole <=> b.hole}.each do |ctp| %>
          <dt><%= ctp.player.name %>:</dt>
          <dd><%= ctp.hole %></dd>
        <% end %>
        </dl>
      </div>
    </div>
  </div>

  <div class="container well">
    <h3> League Players</h3>
    <table class="table">
      <thead>
        <tr>
          <th class = "col-xs-3">Player name</th>
          <th class = "col-xs-2">Handicap</th>
          <th class = "col-xs-2">Best Round</th>
          <th class = "col-xs-4">Last 6 Scratch Scores</th>
        </tr>
      </thead>

      <tbody>
        <% @dg_league.players.uniq.each do |player| %>
          <tr>
            <td class="col-xs-3"><%= link_to player.name, player %></td>
            <td class = "col-xs-2"><%= player.calc_handicap(Date.tomorrow, @dg_league.id) %></td>
            <td class = "col-xs-2"><%= player.best_score(Date.tomorrow, @dg_league.id) %></td>
            <td class = "col-xs-1"><%= player.last_scores(Date.tomorrow, @dg_league.id, 6).reverse.join(" | ") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="container well">
      <h3> Previous Games</h3>
      <table class="table">
        <thead>
          <tr>
            <th class = "col-xs-3">Date</th>
            <th class = "col-xs-8">League</th>
          </tr>
        </thead>

        <tbody>
          <% @dg_league.games.sort {|a,b| b.start_date <=> a.start_date}.each do |game| %>
            <tr>
              <td class="col-xs-3"><%= link_to game.start_date.strftime("%B %d, %Y"), game %></td>
              <td class="col-xs-8"><%= game.dg_league.name%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>