<%= bootstrap_form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-xs-4">
    <%= f.text_field :first_name %>
  </div>
  <div class="field col-xs-4">
    <%= f.text_field :middle_name %>
  </div>
  <div class="field col-xs-4">
    <%= f.text_field :last_name %>
  </div>
  <div class="field col-xs-6">
    <%= f.text_field :gender %>
  </div>
  <div class="field col-xs-6">
    <%= f.text_field :classification %>
  </div>
  <div class="actions col-xs-3 pull-right text-right">
    <%= f.submit 'Save Player', class: 'btn btn-primary' %>
  </div>
<% end %>
