<%= bootstrap_form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="field col-sm-4">
      <%= f.text_field :first_name %>
    </div>
    <div class="field col-sm-4">
      <%= f.text_field :middle_name %>
    </div>
    <div class="field col-sm-4">
      <%= f.text_field :last_name %>
    </div>
    <div class="field col-sm-6">
      <%= f.select :gender, options_for_select([['Male', 'Male'],['Female','Female']]) %>
    </div>
    <div class="field col-sm-6">
      <%= f.select :classification, options_for_select([['Adult', 'Adult'],['Child','Child']]) %>
    </div>
    <div class="actions col-sm-3 pull-right text-right">
      <%= f.submit 'Save Player', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
