<p id="notice"><%= notice %></p>
<div class="container">
  <%= link_to 'Back', '/' %>
</div>

<div class="container well">
  <p>
    <strong>Name:</strong>
    <%= @player.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= @player.gender %>
  </p>

  <p>
    <strong>Classification:</strong>
    <%= @player.classification %>
  </p>
</div>
