<!DOCTYPE html>
<html>
<head>
  <title>League</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="leagueapp">

  <%= render "layouts/notice" %>
  <%= render "layouts/alerts" %>
  <%= render "layouts/header" %>

<%= yield %>

</body>
</html>